<div class="columns" id="spacer"></div>
<div class="columns">
  <!--Mock conctent start-->
  <div class="column is-8">
    <div class="front"><i class="fa fa-mixcloud fa-lg"></i> App</div>
    <div class="front"><i class="fa fa-reddit-alien fa-lg"></i> App</div>
    <div class="front"><i class="fa fa-scribd fa-lg"></i> App</div>
    <div class="front"><i class="fa fa-hashtag fa-lg"></i> App</div>
  </div>

  <div class="column">
    <h4 class="title confirm">Confirm your account details.</h4>
    <form action="/login" method="post">
      <p class="control">
        <label class="label">Email</label>
        <input class="input" type="text" required="required" placeholder="Email" name="email">
      </p>
      <p class="control">
        <label class="label">Password</label>
        <input class="input" type="password" required="required" placeholder="Password" name="password">
      </p>
      <p class="control">
        <button class="button  is-inverted" id="login-submit">
          Login
        </button>
      </p>
    </form>
    <a href="/">Need an Account?</a>
  </div>
</div>
