<div class="columns" id="spacer"></div>
<div class="columns">
  <div class="column is-4"></div>
  <div class="column">
    <h4 class="title confirm">Welcome Back!</h4>
    <form action="/login" method="post">
      <p class="control">
        <label class="label">Email</label>
        <input class="input" type="text" required="required" placeholder="Email" name="email">
      </p>
      <p class="control">
        <label class="label">Password</label>
        <input class="input" type="password" required="required" placeholder="Password" name="password">
      </p>
      <p class="control">
        <button class="button  is-inverted" id="login-submit">
          Login
        </button>
      </p>
    </form>
    <a href="/">Need an account we got you Covered!</a>
  </div>
  <div class="column is-4"></div>
</div>
